<ion-view>
    <ion-tabs class="tabs-icon-top  tabs-balanced">


        <ion-tab title="Dashboard" icon="ion-home"  href="#/main/dash">
            <ion-nav-view  name="dash-tab"></ion-nav-view>
        </ion-tab>


        <input type="hidden" placeholder="codeCourtier" ng-model="data">
        <ion-tab   title="Suivi des Dossiers" icon="ion-ios-folder" href="#/main/suiviDossiers">
            <ion-nav-view name="public-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Comparateur Emprunteur" icon="ion-ios-paper" href="#/main/comparateurEmprunteur">
            <ion-nav-view name="admin-tab"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
</ion-view>