/* Empty. Add your own CSS if you like */


.eloisPink {
   background-color:#e2007a ;
    color:white;
}


.eloisBlue {
    background-color:#0094CC ;
}

.centerImage{

    position:absolute;
    left: 0;
    right: 0;
    margin:0 auto;
    top:50%;
    transform:translateY(-50%);

}




.bar.bar-stable .title{
    background-color:#0094CC!important;
}

 .my-color{
     background-color:#0094CC !important;
 }


.frame_look_feel {
    background-color: #FD3583;
}

/***style.css****/

/* Styles here */
.item-icon-left .item-content {
    padding-left:3em !important;
    padding-top:5px !important;
    padding-bottom:5px !important;
    background-color: white !important;
}

.item-icon-left i {
    left:0;
    padding-top:2px !important;
    padding-bottom:5px !important;
    right: auto;
    color: #D4201F !important;
    font-size: 20px !important;
}

.item-radio input ~ .radio-icon {
    visibility: visible !important;
}

.item-radio > .radio-icon:before {
    content: "\f3a6" !important; /*deselected - Ionic class = ion-android-radio-button-off */
}

.item-radio > input[type=radio]:checked ~ .radio-icon:before {
    content: "\f3a7" !important; /*selected Ionic class = ion-android-radio-button-on */
}

.bg {
    height:auto;
    padding: 40px 0;
    color:#fff;
    font-size:20px;
    text-align:center;
    border-radius:4px;
    border:1px solid #980021;
    box-shadow: inset 0 2px 3px 0 rgba(255,255,255,.3), inset 0 -3px 6px 0 rgba(0,0,0,.2), 0 3px 2px 0 rgba(0,0,0,.2);
    background-image: linear-gradient(to bottom, #cf2b4f, #980021 100%);
}